*~
target/
.classpath
.project
.settings
*.iml
.idea/
.cache
classes/
other-untracked/
other-tracked/
out/
.todo-om-dev-details.txt.marks
dependency-reduced-pom.xml
.history
testscalaworksheet.sc
testrun.log
testrun.sum
dbg.log
rt

